[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
alembic = "*"
psycopg2 = "*"
uvicorn = "*"
importlib-resources = "*"
passlib = "*"
python-jose = "*"
python-multipart = "*"
email-validator = "*"

[dev-packages]

[requires]
python_version = "3.9"
